[Desktop Entry]
Name=SawBlade Recompiled
Exec=/app/bin/SawBladeRecomp
Type=Application
Icon=io.github.teamrecomp.sawbladerecomp
Categories=Game;
Comment=Static recompilation of Saw.
MimeType=x-scheme-handler/sawbladerecomp
